<h1>Listing teams</h1>
<% if @users.count > 0 %>
<%= link_to "조편성", '/teambuilding', class: 'btn btn-lg btn-primary' %>
<%= @users.count %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="4">Members</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td colspan="4">
        <% team.users.each do |member| %>
        <%= link_to "#{member.name}(#{member.std_num})", member %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>