<% provide(:title, t('user.edit_profile')) %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    
    <h1 class="text-center"><%= t 'user.edit' %></h1>
    <%= render 'form' %>
    
  </div> <!-- col -->
</div> <!-- row -->
