<% provide(:title, t('user.signup')) %>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    
    <h1 class="text-center"><%= t 'user.signup' %></h1>
    <%= render 'form' %>
    
  </div> <!-- col -->
</div> <!-- row -->
