<% if @user.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
  <%= debug @user.errors %>
  <%= bs_validation :name, @user.errors %>
  <%= bs_error_message :name, @user.errors %>
</div>
<% end %>