<div class="jumbotron">
  <h1>Please give me a feedback!</h1>
  <p></p>
</div>

<div data-no-turbolinks class="fb-comments" data-href="http://cloudstudying.com/feedback" data-width="100%" data-numposts="10" data-colorscheme="light"></div> <!-- fb- comment -->