<!-- practices -->
<section id="practices">
  
  <% if @practices.any? || admin_user? %>
  
  <!-- panel -->
  <div class="panel panel-default">

    <!-- panel-heading -->
    <div class="panel-heading">
      <h3 class="panel-title"><%= t 'practice.list' %></h3>
    </div> <!-- panel-heading -->

    <!-- panel-body -->
    <div class="panel-body">
      <% @practices.each do | practice | %>
      <%= render 'practices/practice', { practice: practice } %>
      <% end %>
    </div> <!-- panel-body -->

    <!-- panel-footer -->
    <% if admin_user? %>
    <div class="panel-footer">
      <%= render 'practices/form' %>
    </div> <!-- panel-footer -->
    <% end %>
  </div> <!-- panel -->
  
  <% end %>
</section> <!-- practices -->