<% provide(:title, t('app.practice')) %>

<div class="row">

  <div class="col-sm-10 col-sm-offset-1">
    
    <h1 class="text-center"><%= t 'practice.new' %></h1>
    <%= render 'form' %>
    
  </div> <!-- col -->
</div> <!-- row -->
