<% provide(:title, @lesson.title) %>

<div class="row">

  <!-- aside -->
  <aside>
    <div class="col-md-4 col-lg-3">
      <%= render 'lectures/lecture', {lecture: @lecture} %>
      <!-- # 나중에 여기다가 미니맵 형식의 인덱스를 뿌려줄거야 -->
    </div>
  </aside>

  <!-- content -->
  <div class="col-md-8 col-lg-9">
    <%= render 'lessons/lesson', {lesson: @lesson} %>
    
    <!-- fb- comment -->
    <div class="fb-comments" data-href="http://class2dream.com/lessons/1" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
  </div>

</div>
