<p id="notice"><%= notice %></p>

<p>
  <strong>Example answer:</strong>
  <%= @example_answer.example_answer %>
</p>

<%= link_to 'Edit', edit_example_answer_path(@example_answer) %> |
<%= link_to 'Back', example_answers_path %>
