<% provide(:title, t('app.course')) %>

<div class="row">

  <div class="col-sm-6 col-sm-offset-3">
    
    <h1 class="text-center"><%= t 'course.new' %></h1>
    <%= render 'form' %>
    
  </div> <!-- col -->
</div> <!-- row -->
