<% provide(:title, @course.name) %>

<div class="row">

  <!-- aside -->
  <aside>
    <%= render 'courses/course', {course: @course} %>
  </aside>

  <!-- content -->
  <div class="col-sm-8">
    <%= render 'lectures/lectures', {lectures: @lectures} %>
  </div>

</div>
